.Dashboard-header-1 {
    text-align: left;
    margin-right: 1445px; /* Adjust margin as needed */
}

.Dashboard-header-2 {
    text-align: left;
    margin-right: 1418px; /* Adjust margin as needed */
}

.Dashboard-link {
    color: white;
}

.Dashboard-card {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 20px;
}