.Movies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.filter-checkbox-text {
    margin-left: 8px; /* Adjust spacing as needed */
}

.Movies-card {
    background-color: #282c34;
    border: none;
}

.Movies-card .card-img {
    border: 1px solid white;
    width: 100%;
}

.Movies-card .card-text {
    color: white;
    font-size: 15px;
    text-align: center;
}

.movie-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.details > div {
    margin-bottom: 20px;
}

.details > div:nth-child(2) {
    margin-top: 20px;
}