.Movies-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.Movies-card {
    background-color: #282c34;
    border: none;
}

.Movies-card .card-img {
    border: 1px solid white;
}

.Movies-card .card-text {
    color: white;
    font-size: 15px;
}